* {
  background-color: #171719;
}

#ctn {
  width: 100%;
  height: 100%;
}
app-form-des {
  width: 100%;
  height: 50%;
  padding: 0 3% 0 3%;
  overflow: auto;
}

app-form-res {
  width: 100%;
  height: 50%;
  padding: 0 3% 3% 3%;
  overflow: auto;
}

@media screen and (min-width: 825px) {
  app-form-des {
    width: 50%;
    height: 100%;
    padding: 0 3% 0 3%;
    overflow: auto;
  }

  app-form-res {
    width: 50%;
    height: 100%;
    padding: 0 4% 0 3%;
    overflow: auto;
  }
}
